<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.fate.portal.mapper.ProjectMapper">

    <insert id="newProject" parameterType="com.tech.fate.portal.dto.ProjectDto">
        insert into projects (created_at, updated_at, deleted_at, uuid, auto_approval_enabled, description, name, type,
                              status, manager, managing_site_name, managing_site_party_id, managing_site_uuid)
        values (#{dto.createdAt}, #{dto.updatedAt}, #{dto.deletedAt}, #{dto.uuid}, #{dto.autoApprovalEnabled},
                #{dto.description}, #{dto.name}, #{dto.type}, #{dto.status}, #{dto.manager}, #{dto.managingSiteName},
                #{dto.managingSitePartyId}, #{dto.managingSiteUuid})
    </insert>

    <insert id="addJobParticipant" parameterType="com.tech.fate.portal.dto.JobParticipantDto">
        insert into job_participants (job_uuid, site_uuid, site_name, site_party_id, site_role, data_uuid, data_name,
                                      data_description, data_table_name, data_table_namespace,
                                      data_label_name, status)
        values (#{jobUuid}, #{siteUuid}, #{siteName}, #{sitePartyId}, #{siteRole}, #{dataUuid}, #{dataName},
                #{dataDescription}, #{dataTableName}, #{dataTableNamespace},
                #{dataLabelName}, #{status})
    </insert>

    <insert id="createNewJob" parameterType="com.tech.fate.portal.dto.JobDto">
        insert into jobs (created_at, deleted_at, updated_at, name, description, uuid, project_uuid, type, status,
                          status_message, algorithm_type, algorithm_component_name,
                          evaluate_component_name, algorithm_config, model_name, predicting_model_uuid,
                          initiating_site_uuid, initiating_site_name,
                          initiating_site_party_id, initiating_user, is_initiating_site, fate_job_id, fate_job_status,
                          fate_model_id, fate_model_version,
                          finished_at, result_json, conf, dsl, request_json)
        values (#{createdAt}, #{deletedAt}, #{updatedAt}, #{name}, #{description}, #{uuid}, #{projectUuid}, #{type},
                #{status}, #{statusMessage}, #{algorithmType}, #{algorithmComponentName},
                #{evaluateComponentName}, #{algorithmConfig}, #{modelName}, #{predictingModelUuid},
                #{initiatingSiteUuid}, #{initiatingSiteName},
                #{initiatingSitePartyId}, #{initiatingUser}, #{isInitiatingSite}, #{fateJobId}, #{fateJobStatus},
                #{fateModelId}, #{fateModelVersion},
                #{finishedAt}, #{resultJson}, #{conf}, #{dsl}, #{requestJson})
    </insert>

    <insert id="addProjectParticipant" parameterType="com.tech.fate.portal.dto.ProjectParticipantsDto">
        insert into project_participants (created_at, updated_at, deleted_at, uuid, project_uuid, site_party_id,
                                          site_name, site_description, site_uuid, status)
        values (#{createdAt}, #{updatedAt}, #{deletedAt}, #{uuid}, #{projectUuid}, #{sitePartyId}, #{siteName},
                #{siteDescription}, #{siteUuid}, #{status})
    </insert>

    <insert id="addProjectData" parameterType="com.tech.fate.portal.dto.ProjectDataDto">
        insert into project_data (name, description, uuid, project_uuid, data_uuid,
                                  site_uuid, site_name, site_party_id, type, status, table_name, table_namespace)
        values (#{name}, #{description}, #{uuid}, #{projectUuid}, #{dataUuid},
                #{siteUuid}, #{siteName}, #{sitePartyId}, #{type}, #{status}, #{tableName}, #{tableNamespace})
    </insert>

    <update id="editProjectParticipantStatus" parameterType="com.tech.fate.portal.dto.EditProjectInvitationStatusDto">
        update project_participants
        set status=#{status}
        where uuid = #{invitationUuid}
    </update>

    <select id="getJobDetailInfo" parameterType="com.tech.fate.portal.dto.GetJobDetailInfoDto"
            resultMap="QueryProjectJobResult">
        select a.created_at,
               a.description,
               a.fate_job_id,
               a.fate_job_status,
               a.model_name,
               a.finished_at,
               a.initiating_site_name,
               a.initiating_site_party_id,
               a.initiating_site_uuid,
               a.is_initiating_site,
               a.name,
               a.project_uuid,
               a.status,
               a.status_message,
               a.type,
               a.initiating_user,
               a.uuid
        from jobs AS a
        where a.project_uuid = #{projectUuid}
          AND a.uuid = #{jobUuid}
    </select>


    <select id="queryClosedProjectsList" parameterType="String" resultMap="QueryProjectResult">
        select a.status,
               a.created_at,
               a.description,
               a.manager,
               a.managing_site_name,
               a.managing_site_party_id,
               a.name,
               a.uuid,
               a.managing_site_uuid
        from projects AS a,
             project_participants AS b
        where b.site_uuid = #{siteUuid}
          AND b.project_uuid = a.uuid
          AND a.status = 6
    </select>

    <select id="queryInvitedProjectsList" parameterType="String" resultMap="QueryProjectResult">
        select a.created_at,
               c.description,
               c.manager,
               c.managing_site_name,
               c.managing_site_party_id,
               c.name,
               a.uuid,
               c.managing_site_uuid
        from project_invitations AS a,
             projects AS c
        where a.site_uuid = #{siteUuid}
          AND a.project_uuid = c.uuid
    </select>

    <select id="queryJoinedProjectsList" parameterType="String" resultMap="QueryProjectResult">
        select a.created_at,
               a.description,
               a.manager,
               a.managing_site_name,
               a.managing_site_party_id,
               a.name,
               a.uuid,
               a.managing_site_uuid
        from projects AS a,
             project_participants AS b
        where b.site_uuid = #{siteUuid}
          AND b.project_uuid = a.uuid
    </select>

    <select id="queryProjectParticipantList" parameterType="String" resultMap="QueryParticipantResult">
        select created_at, uuid, site_party_id, site_name, site_description, status, site_uuid
        from project_participants
        where project_uuid = #{projectUuid}
    </select>

    <select id="getProjectDetailInfo" parameterType="String" resultMap="QueryDetailResult">
        select auto_approval_enabled,
               created_at,
               description,
               manager,
               managing_site_name,
               managing_site_party_id,
               name,
               uuid,
               managing_site_uuid
        from projects
        where uuid = #{uuid}
    </select>

    <select id="getProjectJobList" parameterType="String" resultMap="QueryProjectJobResult">
        select a.created_at,
               a.description,
               a.fate_job_id,
               a.fate_job_status,
               a.model_name,
               a.finished_at,
               a.initiating_site_name,
               a.initiating_site_party_id,
               a.initiating_site_uuid,
               a.is_initiating_site,
               a.name,
               a.project_uuid,
               a.status,
               a.status_message,
               a.type,
               a.initiating_user,
               a.uuid
        from jobs AS a
        where a.project_uuid = #{uuid}
    </select>

    <resultMap id="QueryProjectJobResult" type="com.tech.fate.portal.vo.ProjectJobVo">
        <result column="created_at" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="CLOB"/>
        <result column="fate_job_id" property="fateJobId" jdbcType="VARCHAR"/>
        <result column="fate_job_status" property="fateJobStatus" jdbcType="VARCHAR"/>
        <result column="model_name" property="fateModelName" jdbcType="VARCHAR"/>
        <result column="finished_at" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="initiating_site_name" property="initiatingSiteName" jdbcType="VARCHAR"/>
        <result column="initiating_site_party_id" property="initiatingSitePartyId" jdbcType="BIGINT"/>
        <result column="initiating_site_uuid" property="initiatingSiteUuid" jdbcType="VARCHAR"/>
        <result column="is_initiating_site" property="isInitiator" jdbcType="BOOLEAN"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="project_uuid" property="projectUuid" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="status_message" property="statusStr" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="initiating_user" property="username" jdbcType="VARCHAR"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="QueryDetailResult" type="com.tech.fate.portal.vo.ProjectDetailVo">
        <result column="auto_approval_enabled" property="autoApprovalEnabled" jdbcType="BOOLEAN"/>
        <result column="created_at" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="CLOB"/>
        <result column="manager" property="manager" jdbcType="VARCHAR"/>
        <result column="managing_site_name" property="managingSiteName" jdbcType="VARCHAR"/>
        <result column="managing_site_party_id" property="managingSitePartyId" jdbcType="BIGINT"/>
        <result column="name" property="projectName" jdbcType="VARCHAR"/>
        <result column="uuid" property="projectUuid" jdbcType="VARCHAR"/>
        <result column="managing_site_uuid" property="managingSiteUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="projectDataMap" type="com.tech.fate.portal.dto.ProjectDataDto">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="CLOB"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="project_uuid" property="projectUuid" jdbcType="CLOB"/>
        <result column="data_uuid" property="dataUuid" jdbcType="VARCHAR"/>
        <result column="site_uuid" property="siteUuid" jdbcType="VARCHAR"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="site_party_id" property="sitePartyId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="table_namespace" property="tableNamespace" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="QueryProjectResult" type="com.tech.fate.portal.vo.ProjectsVo">
        <result column="status" property="projectStatus" jdbcType="SMALLINT"/>
        <result column="created_at" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="description" property="projectDescription" jdbcType="CLOB"/>
        <result column="manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="managing_site_name" property="managingSiteName" jdbcType="VARCHAR"/>
        <result column="managing_site_uuid" property="managingSiteUuid" jdbcType="VARCHAR"/>
        <result column="managing_site_party_id" property="managingSitePartyId" jdbcType="BIGINT"/>
        <result column="name" property="projectName" jdbcType="VARCHAR"/>
        <result column="uuid" property="projectUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="associatedDataForProjectMap" type="com.tech.fate.portal.vo.ProjectAssociateDataVo">
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="data_uuid" property="dataUuid" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="CLOB"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="site_name" property="providingSiteName" jdbcType="VARCHAR"/>
        <result column="site_party_id" property="providingSitePartyId" jdbcType="BIGINT"/>
        <result column="site_uuid" property="providingSiteUuid" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <resultMap id="QueryParticipantResult" type="com.tech.fate.portal.dto.ProjectParticipantsDto">
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="site_description" property="siteDescription" jdbcType="CLOB"/>
        <result column="site_party_id" property="sitePartyId" jdbcType="BIGINT"/>
        <result column="site_name" property="siteName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="site_uuid" property="siteUuid" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="projectMap" type="com.tech.fate.portal.dto.ProjectDto">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="CLOB"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="auto_approval_enabled" property="autoApprovalEnabled" jdbcType="BOOLEAN"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="manager" property="manager" jdbcType="VARCHAR"/>
        <result column="managing_site_name" property="managingSiteName" jdbcType="VARCHAR"/>
        <result column="managing_site_party_id" property="managingSitePartyId" jdbcType="BIGINT"/>
        <result column="managing_site_uuid" property="managingSiteUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryProjectDataDtoList" parameterType="com.tech.fate.portal.dto.ProjectDataDto"
            resultMap="projectDataMap">
        select *
        from project_data
    </select>

    <select id="getAssociatedDataListForProject" resultMap="associatedDataForProjectMap">
        select *
        from project_data
        where project_uuid=#{projectUuid}
        <if test="participantUuid!=null and participantUuid!=''">
            and site_uuid=#{participantUuid}
        </if>
    </select>

    <select id="queryProjectDataByUuid" parameterType="String" resultMap="projectDataMap">
        select *
        from project_data
        where project_uuid = #{projectUuid}
    </select>
    <select id="queryProjectByUuid" parameterType="String" resultMap="projectMap">
        select *
        from projects
        where uuid = #{uuid}
    </select>
    <insert id="addInvitation" parameterType="com.tech.fate.portal.dto.ProjectInvitationDto">
        insert into project_invitations
        values (#{id}, #{createdAt}, #{updatedAt}, #{deletedAt}, #{uuid}, #{projectUuid}, #{siteUuid}, #{status})
    </insert>
    <insert id="addProject" parameterType="com.tech.fate.portal.dto.ProjectDto">
        insert into projects
        values (#{id}, #{createdAt}, #{updatedAt}, #{deletedAt}, #{uuid}, #{name}, #{description},
                #{autoApprovalEnabled},
                #{type}, #{status}, #{manager}, #{managingSiteName}, #{managingSitePartyId}, #{managingSiteUuid})
    </insert>
    <insert id="addParticipant" parameterType="com.tech.fate.portal.dto.ProjectParticipantsDto">
        insert into project_participants (created_at, updated_at, deleted_at, uuid,
                                          project_uuid, site_uuid, site_name, site_party_id, site_description, status)
        values (#{createdAt}, #{updatedAt}, #{deletedAt}, #{uuid}, #{projectUuid},
                #{siteUuid}, #{siteName}, #{sitePartyId}, #{siteDescription}, #{status})
    </insert>

    <update id="updateInvitation">
        update project_invitations
        set status=#{status}
        where uuid = #{uuid}
    </update>

    <select id="projectInvitationList" resultType="com.tech.fate.portal.dto.ProjectInvitationDto" parameterType="java.lang.String">
        select uuid,project_uuid,site_uuid,status from project_invitations where uuid = #{uuid}
    </select>
</mapper>